.logiciel h2 {
    text-align: center;
    margin-bottom: 15vh;
    font-size: 1.5em;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.logiciel {
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
  }
.competences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.competence {
    display: flex;
    align-items: center;
    background-color: rgb(34, 33, 33);
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.competence img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.competence span {
    font-size: 16px;
    color: white;
}

.competence:hover {
    background-color: #444;
}
.competence-groupe {
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.competence-groupe h3 {
    color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 15px;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}
.competence-groupe.show {
    opacity: 1;
    transform: translateY(0);
}



/* Animation de montée et d'opacité */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Classe active pour déclencher l'animation */
.competence-groupe.show {
    opacity: 1;
    transform: translateY(0);
}
